.plan-card {
  &__cta {
    background-color: transparent;
    border-top: none;
  }

  &__price {
    align-items: center;
    border-radius: 50%;
    border: solid .5rem black;
    display: flex;
    font-size: 1.5rem;
    height: 6rem;
    justify-content: center;
    margin: 1rem auto 2rem;
    width: 6rem;
  }
}
